<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Note</title>
</head>
<body>
    <h1>Create a New Note</h1>
    <form action="{{ url_for('createnote') }}" method="POST">
        <label for="content">Notes:</label>
        <input type="text" name="content" required>
        <button type="submit">Submit</button>
    </form>

    <button onclick="window.location.href='{{ url_for('show_notes') }}'">Show Notes</button>
    <button onclick="window.location.href='{{ url_for('create_bestnote', class_id='class_id_here') }}'">Create Best Note</button>
    <button onclick="window.location.href='{{ url_for('class_fold') }}'">Go to Class Page</button>


    {% if summary %}
        <h2>Summary</h2>
        <p>{{ summary }}</p>
    {% endif %}


<!--classes-->
    <h2>All Notes</h2>
    {% for note in Notes %}
    <div>
        <p>{{ note['title'] }}</p>
        <a href="{{ url_for('edit_note', id=note['_id']) }}">Edit Note</a> |
        <a href="{{ url_for('sent', id=note['_id']) }}">Summarize</a>
    </div>

    {% else %}
        <p>No notes available.</p>
    {% endfor %}
</body>
</html>
