/* General page styles */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: #0056b3;
    text-align: center;
}

/* Styles for the form */
form {
    background: rgb(86, 32, 32);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    font-family: 'Impact', sans-serif;
}

.textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

/* Message and link styles */
.msg {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.bottom {
    text-align: center;
    display: block; /* Makes the <p> center align the text properly */
}

.bottom a {
    color: #0056b3;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}
